services:
  frontend:
    build:
      context: ./frontend
    container_name: portfolio_frontend
    restart: unless-stopped
    expose:
      - '80'
    networks:
      - proxy

networks:
  proxy:
    external: true
